<div class="container">
<header>
  <img class="IamOntitle" src="../../../img/IAmOnLogo.png">
  <nav id="menu" >
    <ul>
      {{#if user.isLogged}}
        <li><a href="#switches">{{i18n 'Switches'}}</a></li>
      {{else}}
        <li>
          <div id="userbar">Loading...</div>
          <div id="invitadobar"><a href="#switches">{{i18n 'Enter as a guest'}}</a></div>
        </li>
      {{/if}}
    </ul>
  </nav>
</header>

<!-- router contents -->
<main id="maincontent">Loading...</main>


<footer>
  <div id="languagecontrol">Loading...</div>
</footer>
</div>