/*https://youtu.be/68O6eOGAGqA?si=_6JLnnTYEqu470cc*/
.container{
	display: grid;
	height:100vh;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 0.2fr 3fr 0.5fr;
	grid-template-areas:
		"header header"
		"search search"
		"main main"
		"footer footer";
	grid-gap: 0.2rem;
}
#maincontent{
	display: grid;
	grid-area:main;
	grid-template-areas:
        "switches suscribers";
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto; 
}
header{
	background-color: #2596be;
	grid-area: header;
	border-radius: 5px;
    align-items: center;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 20px;
}
.IamOntitle{
	max-width: 400px;
	margin: 0 auto; 
    display: block; 
	padding-bottom: 5px;
	padding-top: 10px;
}
#menu{
	background-color: #92e2ff;
	display: inline-block; 
	padding: 10px; 
    border-radius: 8px; 	 
}
ul{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
#loginbar{
	background-color: #2596be;
	padding: 5px;
	border-radius: 8px;
}
#invitadobar{
	background-color: #2596be;
	padding: 5px;
	border-radius: 8px;
}

#maincontent{
	grid-area:main;
	background-color: #92e2ff;
	border-radius: 8px;
	text-align: center;
	align-items: center;
}
#switches-table{
	grid-area:switches;
	background-color: #2596be;
	border-radius: 8px;
	margin: 15px;
	text-align: center;
	align-items: center;
}



#suscribers-table{
	grid-area:suscribers;
	background-color: #2596be;
	border-radius: 8px;
	margin: 15px;
	text-align: center;
}

span{
	font-family: Arial, sans-serif;
    font-size: 16px;
    color: #000000;
	background-color: #92e2ff;
	border-radius: 5px;
	text-align: center;
	display: inline-block;
}



footer{
	background-color: #2596be;
	grid-area: footer;
	border-radius: 5px;
}







@media only screen and (max-width:550px){
	.container{
		grid-template-columns: 1fr;
		grid-template-rows: 0.2fr 0.05fr auto auto 0.1fr;
		grid-template-areas: "header" "search" "main" "main" "footer";
	}
	#maincontent {
        grid-template-areas:"switches" "suscribers";
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto; 
    }
}